[Unit]
Description=camchat healthcheck every 2 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=2min
AccuracySec=15s
Unit=camchat-healthcheck.service

[Install]
WantedBy=timers.target
